@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  touch-action: none; /* Disable default touch actions like scrolling and zooming */
  user-select: none; /* Disable text selection */
  -webkit-user-select: none; /* Disable text selection in WebKit browsers */
  -ms-user-select: none; /* Disable text selection in IE/Edge */
  overflow: hidden; /* Disable scrolling */
}
